body{
    background-color: black;
    h1{
        color:red;
    }
    div{
        font-weight: 400;
       font-family: sans-serif;
    }
    label{
        color: white;
        text-align: center;

    }
  
  
   
}
